// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.primary-color{
  background-color: #1368ea;
}

.cpy-button-primary{
  border: 2px solid #0e5fd4;
  border-radius: 3px;
  padding: 5px 15px;
  background: #1368ea;
  color: #fff;
}
.cpy-button-primary:hover{
  background: #0e5fd4;
  border: 2px solid #0e5fd4;
}

.cpy-button-primary:active{
  background: #1054bc;
  border: 2px solid #1054bc;
}

.cpy-button-primary:focus{
  outline: none;
  box-shadow: 0 0 0 3px #91c2fc;;
}

.cpy-button-primary:disabled{
  background: #f2f3f5;
  color: #acb5bd;
  border: 1px solid #acb5bd;
}

.cpy-button-secondary{
  border: 1px solid #1368ea;
  border-radius: 3px;
  padding: 5px 15px;
  background: #fff;
  color: #1368ea;
}

.cpy-button-secondary:hover{
  background: #e7e7e7;
}

.cpy-button-secondary:active{
  background: #cacbcb;
}

.cpy-button-secondary:focus{
  outline: none;
  box-shadow: 0 0 0 3px #91c2fc;;
}

.cpy-button-secondary:disabled{
  background: #f1f3f5;
  color: #acb5bd;
  border: 1px solid #acb5bd;
}

.cpy-input {
  border: 1px solid #ced4db;
  color: #6b7078;
  border-radius: 5px;
  padding: 10px;
}